<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <link rel="stylesheet" href="style.css">
    <script language="javascript" src="ifra.js"></script>
    <!-- <link rel="images" href="views/a.jpg"> -->      
    <link rel="images" href="views/ani.gif"> 
    <link rel="images" href="views/d.jpg">
    <link rel="images" href="views/pl.gif">
    <link rel="images" href="views/al.gif">
    <link rel="images" href="views/a2.gif">
    <link rel="images" href="views/a3.gif">
    <link rel="images" href="views/a4.gif">
    <link rel="images" href="views/a5.gif">
    <link rel="images" href="views/a6.gif">
    <link rel="images" href="views/a7.gif">
    <link rel="images" href="views/a8.gif">
    <link rel="images" href="views/a9.gif">
    <link rel="images" href="views/a10.gif">
    <link rel="images" href="views/a11.gif">
    <link rel="images" href="views/a12.gif">
    <link rel="images" href="views/a13.gif">
    <link rel="images" href="views/arl.gif">
    <link rel="images" href="views/arr.gif">
</head>
<body onload="alvis()" style="height:100px;" >
    
   <!--<img src="a.jpg" alt="a" title="කුරුඳු මල" class="size" >-->
   <!--<img src="b.jpg" alt="b" title="කුරුඳු පොතු හා කුරුඳු තෙල්" class="size">-->
   <!--<img src="c.jpg" alt="c" title="කුරුඳු මිටි" class="size">-->
   <!--<center><img src="ani.gif" alt="d" title="කුරුඳු වගාව" class="size"></center>-->
   <center><table wrap="device-width">
       <tr>
           <td><img src="arl.gif" id="al"  style="width:20px; height: 50px;"  onclick="goback()"></td>
           <td><center><img src="a1.gif" name="box1" style="width: 250px;height: 200px;" ></img></center></td>
           <td><img src="arr.gif" id="ar"  width="20" height="50" onclick="gofront()"></td>
       </tr>
       <tr>
           <td></td>
           <td><div id="box2" style="text-align: center;color:cornsilk;background-color: black;" class="font1"><center>ඉඩමක් තෝරා ගැනීම</center></div></td>
           <td></td>
        </tr>
   </table></center>
   <!--<td><center><img name="box1" style="width: 200px;height: 180px;"></img></center></td>-->
   <!--<img src="c.jpg" alt="c" title="කුරුඳු මිටි" width="20" height="20">
   <center><img src="pl.gif" alt="d" title="බිම් සැකසීම" class="size"></center>-->
    
<div style="background-color: rgb(5, 46, 4);color: rgb(202, 238, 205);">
<div style="margin-right:8px;margin-left: 8px;">
       <center> -------------------------------------------------------------------</center><br>
<p>       
       ඔබගේ ඵලදායි නොවන ඉඩමේ කුරුඳු වගා කර නව ආදායම් මාර්ගයක් උදා කර ගැනීමට අවස්ථාවක් ........
   <br>මේ සඳහා,
</p>
   <ul class="font">
        <li>යෙදවීමට කාලය නොමැති</li>
        <li>ශ්‍රමය සපයා ගැනීමට දුෂ්කර</li>
        <li>පැල, පොහොර ආදී යෙදවුම් සපයා ගැනීමට අපහසු</li>
    </ul>
<p>
     ඔබ සඳහා සහාය අපෙන්....
</p>
        <center>-----------------------------------------------------------------</center>
    </div>
    </div>
   
 <div >        
<p>
ශ්‍රී ලංකාවේ සම්භවය වී ඇති කුරුඳු  ශාකය ,පොලොන්නරු යුගයේ පටන් අපනයනයද 
සිදු කර ඇති බවට සාක්ෂි හමු වී ඇත .
සත්‍ය කුරුඳු හා කැසියා කුරුඳු ලෝක වෙළෙඳ පොළේ ප්‍රචලිත කුරුඳු විශේෂ දෙකකි .
සත්‍ය කුරුඳු වලට ආදේශකයක් වන කැසියා කුරුඳු වල ගුණාත්මය අඩු වන අතර, 
පිළිකා කාරක රසායනයක් වන coumarin ප්‍රතිශතය ද අධික ය .
එම නිසා ශ්‍රී ලංකාවේ කුරුඳු වගාවට හොඳ ඉල්ලුමක් මෙන් ම හොඳ  අනාගතයක් ද ඇත. 
දිනෙන් දින  ඉල්ලුම වැඩිවන සත්‍ය කුරුඳු සැපයුම්  ප්‍රමුඛයා වන්නේ ශ්‍රී ලංකාවයි .
බෝ නොවන රෝග වලක්වා ගැනීම  සඳහා කුරුඳු අඩංගු පාන වර්ග ලොව පුරා 
ප්‍රචලිත වෙමින් ඇත .
දේශීය වෙළඳපොළ තුළ ද කුරුඳු තේ වැනි පාන වර්ග වලට වැඩි ඉල්ලුමක් ඇත .<br><br>
</P>
<p>
 <b>කුරුඳු වගාවේ වාසි :-</b>
 <ul class="font">
    <li>කුරුදු වගාවේ මුල් වසර දෙක තුළ අතුරු වගාවක් ලෙස කෙටි කාලීන බෝග වගා කිරීමට හැකි වීම </li>
    <li>අස්වනු නෙලීම හා සැකසීම වසරකට දෙවරක් පමණ නිසා ශ්‍රම අවශ්‍යතාව අඩු යි </li>
    <li>ශුෂ්ක පරිසර තත්ත්වයන්ට ඔරොත්තු දේ </li>
    <li>මෙරට තුළ සම්ප්‍රදායික හොඳ  වෙළඳ පලක් ඇත </li>
    <li>මිල විචල්‍යතාවය සාපේක්ෂව අවමයි </li>
    <li>නිතර සිදු කළ යුතු නඩත්තු කටයුතු අඩු යි </li>
    <li>වසර සීයක් පමණ පවතින බහු වාර්ෂික බෝගයක් වන කුරුඳු වගාව සඳහා යෙදිය යුතු අවධානය සාපේක්ෂව අඩුයි</li>
   
</ul>

</p> 
</div>  
</body>
</html>