<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infomation</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="height:100;" class="font">
    
<p class="font"><i>
<b>කුරුඳු වගාවේ ආදායම :-</b><br>
<ul>
<li>අක්කරයට කුරුඳු පඳුරු ගණන  : 3000</li>
<li>කුරුඳු පඳුරකින් වසරකට ලැබිය හැකි 
    සාමාන්‍ය කුරුඳු කඳන් ගණන  : 4
        ( මාස 6 කට 2 බැගින් )</li>
 
<li>කුරුඳු කඳකින් ලැබෙන සාමාන්‍ය වියළි 
    කුරුඳු අස්වැන්න  : ග්‍රෑම් 50</li>
<li>හීන් කුරුඳු කි.ග්‍රෑම් එකක 
    සාමාන්‍ය මිල : රු. 2500</li>
<li>අක්කරයකට වියළි කුරුඳුපොතු 
    අස්වැන්න : කි.ග්‍රෑම් 50×4×3000/1000
                     = කි.ග්‍රෑම් 600</li>
<li>සැකසීමේ වියදම 40% නම්</li>
<li>වගාකරු ගේ අස්වැන්න (60%) = කි.ග්‍රෑම් 360</li>
<li>පොතු විකිණීමෙන් ලැබෙන ආදායම :
    රු. 2500 × 360 = රු.ලක්ෂ 9</li>
</ul>
                </i>
</p>
<pre wrap="device-width"><b>පැළ සිටුවීම</b><br>
  අක්කරයකට තිබිය යුතු පඳුරු ගණන: 3600
  පරතරය : අඩි 4 × 3
  වලක ප්‍රමාණය : අඩි 1 × 1 × 1 
  වලකට :
   එප්පාවල රොක් පොස්පේට් ග්‍රෑම් 25 ක් යෙදීම.
    </pre>
    <pre wrap="device-width">
<b>වැඩිදුර තොරතුරු :-</b>

    <i>අපනයන කෘෂිකර්ම දෙපාර්තමේන්තුව- </i>
               <a href="http://www.dea.gov.lk/">http://www.dea.gov.lk/</a>
</pre>  
</body>
</html>