<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <link rel="stylesheet" href="style.css">
</head>
<body style="height:100;" class="font">
    <p>
        <dd><b>වැඩසටහන:-</b>
            <dl>(වගා නොකළ හෝ පරිණත පොල් වගාව සහිත අක්කර දෙකකට වැඩි ඉඩම් සඳහා)</dl>
            <dl> * මූලික ඉඩම් පරීක්ෂාව සහ ඇස්තමේන්තු ව ඉදිරිපත් කිරීම </dl>
            <dl> * ගිවිසුම් අත්සන් කිරීම </dl>
            <dl> * ඉඩම එළිපෙහෙළි කර වගාවට බිම් සැකසීම </dl>
            <dl> * පැල සිටුවීම හා නඩත්තුව </dl>
            <dl> * තැලුම් කරුවන් හා ගැණුම් කරුවන් සම්බන්ධකර දීම</dl>
            <dl> * රජයේ සහනාධාර සඳහා සම්බන්ධීකරණය කිරීම.</dl> 
        </dd> 
    </p>
</body>
</html>