<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>top</title>
    <link rel="stylesheet" href="style.css">
    <link rel="images" href="k.gif">
    <link rel="images" href="t.gif">
    <script language="javascript" src="ifra.js"></script>
   
</head>
<body style="background-image:url(k.gif);background-repeat: repeat-x;">
<center><img src="t.gif" style="width: auto;"></center>
<table border="0"><tr>
<td style="padding: 0%;"><button onclick="gethome()" class="font1" style="padding: 0px;">මුල් පිටුව</button></td>
<td style="padding: 0%;"><button onclick="getinfo()" class="font1" style="padding: 0px;">තොරතුරු</button></td>
<td style="padding: 0%;"><button onclick="getservices()" class="font1" style="padding: 0px;">සේවාවන්</button></td>
<td style="padding: 0%;"><button onclick="getcontacts()" class="font1" style="padding: 0px;">සබඳතා</button></td>
<td style="padding: 0%;"><button onclick="getabout()" class="font1" style="padding: 0px;">අප ගැන</button></td>
</tr>
</table>
<!--<srcdoc>
    <button onclick="gethome()" class="font1" style="padding: 0px;">මුල් පිටුව</button>
    <button onclick="getinfo()" class="font1" style="padding: 0px;">තොරතුරු</button>
    <button onclick="getservices()" class="font1" style="padding: 0px;">සේවාවන්</button>
    <button onclick="getcontacts()" class="font1" style="padding: 0px;">සබඳතා</button>
    <button onclick="getabout()" class="font1" style="padding: 0px;">අප ගැන</button>
</srcdoc>

<!--<h1 style="color: cornsilk;"><center><b>කුරුඳු වගාව</b></center></h1>-->

</body>
</html>